<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
       #grad {
background-image: linear-gradient(to right, lightgreen , lightyellow);
}

body{padding:2%;}
    .continer{
      padding-left:10%;
      padding-top:2%;
      padding-right:10%;
    }
    .a1{
      text-decoration: none;
      border-style: solid;
      padding:10px;
      background-color: #4CAF50;
      border-color: #4CAF50;
      color:#ffffff;
    }
input[type=file] {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(5, 5, 5);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=button], input[type=submit], input[type=reset]  {
  background-color: #4CAF50;
  border: none;
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
  width: 100%;
 
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(202, 199, 199);
  background-color: rgb(255, 255, 255);
  border-color:rgb(194, 196, 196);

  color: rgb(0, 0, 0);
}
    </style>     

</head>
<body>

      <h1> Add Actors </h1>

      <form method="POST">{% csrf_token %}
        <div class="continer" id="grad">

          Name<input type="text" name="name"/></br>
          Sex<input type="text" name="sex"/></br>
          DOB<input type="text" name="dob"/></br>
          Bio<input type="text" name="bio"/></br>
          <input type="submit" value="add to DB"/><input type="reset" value="clear"/></br>
        </div>  
          </form>

</body>
</html>
