<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Lisiting</title>
    <style>
      .a1{text-decoration: none;
      color:#111;}
      body{
        padding:2%;
      }
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          text-align: left;
          padding: 8px;
        }
        
        
        th {
          background-color: #4CAF50;
          color: white;
        }
        #grad {
  background-image: linear-gradient(to right, lightgreen , lightyellow);
  padding-left:10%;
      padding-top:2%;
      padding-right:10%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
        </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">    

  </head>
<body >
    <ul>
        <li><a class="active">IMDB.com</a></li>
        <li><a href="home">Home</a></li>
        <li><a href="about">ADD Movie</a></li>
      </ul>
      
      <h1> Movie Listing</h1>
<div id="grad">
<form method="POST">
      
 

  
  
<table border="2" aria-colspan="20">
          <tr><th>Poster</th><th>MovieName</th><th>Year of Release</th><th>Plot</th><th>Cast</th><th>Click to EDIT</th></tr>
          {% for entry in items %}
           <tr>
             <td><img src="/media/{{ entry.poster }}" width="100px" height="160px" /></td>
             <td> {{ entry.movie_name }}</td>
             <td> {{ entry.year_of_release }}</td>
             <td> {{ entry.plot }}</td>
             <td>{{ entry.cast }}</td>
             <td>
               <form method="GET">{% csrf_token %}
                <a class="a1" href="javascript:void(0);" name="name"   onClick=window.open("admin/imdb/movies/{{ entry.movie_id }}/change/","Ratting","width=550,height=470,left=150,top=200,toolbar=0,status=0,");>
                    <i class="material-icons">edit</i><input type="submit" value="EDIT"></a><input type="text" name="values" hidden="hidden" value="{{ entry.movie_id }}" ></form></td></tr>
          {% endfor %}
        </table> 
          
        
         
  </form>
</div>
</body>
</html>






